.container {
    width: 100vw;
    height: 100vh;
    background-color: rgba(166, 165, 165, 0.548);
    position: fixed;
    top: 0;
    left: 1px;
    z-index: 999;
    display: flex;
    align-items: center;
    justify-content: center;
}

.wrapper {
    width: 600px;
    background-color: white;
    padding: 10px 50px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    border: 3px solid #EC08CCBA;
    text-align: center;
}

.close {
    width: 30px;
    height: 30px;
    background-color: black;
    color: white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    position: absolute;
    top: -10px;
    right: -10px;
}

.author {
    font-weight: bold;
}

.arrowContainer {
    position: absolute;
    width: 10%;
    height: 20%;
    top: 0;
    bottom: 0;
    margin: auto;
    cursor: pointer;
    z-index: 2;
}

.title {
    border-bottom: 3px dotted black;
}